@import "../../styles/variables";

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;

    &__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 8px;
        border: 4px solid $grey-800;
        outline: 2px solid $green-500;
        box-sizing: initial;
    }
}